{% extends 'base.html' %}
{% load static %}

{% block header %}
  <link rel='stylesheet' type="text/css" href="{% static 'style_2.css' %}" >
{% endblock header %}

{% block content %}
<style>
  .slideshow {
    background-color: rgb(0, 0, 0);
    height: 465px;
    max-width: 960px;
    overflow: hidden;
    position: relative;
    margin:0 auto;
    margin-top: 40px
}

  .slideshow-slides {
      height: 100%;
      position: absolute;
      width: 100%;
      /* left は JavaScript で指定 */
  }
  .slideshow-slides .slide {
      height: 100%;
      overflow: hidden;
      position: absolute;
      width: 100%;
      /* left は JavaScript で指定 */
  }
  .slideshow-slides .slide img {
      left: 50%;
  }

  .slideshow-nav a,
  .slideshow-indicator a {
      background-color: rgba(0, 0, 0, 0); /* for IE9 */
      overflow: hidden;
  }
  
  .slideshow-nav a:before,
  .slideshow-indicator a:before {
    content: url({% static 'posts/sprites.png' %});
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

  .slideshow-nav a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 72px;
    height: 72px;
    margin-top: -36px;
  }

  .slideshow-nav a.prev {
    margin-left: -480px;
  }

  .slideshow-nav a.prev:before {
    margin-top: -20px;
  }

  .slideshow-nav a.next {
    margin-left: 408px;
  }

  .slideshow-nav a.next:before {
    margin-left: -80px;
    margin-top: -20px;
  }

  .slideshow-nav a.disabled{
    display: none;
  }

  .slideshow-indicator {
    bottom: 30px;
    height: 16px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }

  .slideshow-indicator a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .slideshow-indicator a.active {
    cursor: default;
  }

  .slideshow-indicator a:before {
    margin-left:-110px;
  }

  .slideshow-indicator a.active:before {
    margin-left: -130px;
  }

  
  #container{
    margin-top: 40px
  }

</style>
<link rel='stylesheet' type="text/css" href="{% static 'common.css' %}" >
<link rel='stylesheet' type="text/css" href="{% static 'normalize.css' %}" >

  <div class="container">
    <div class="text_head">
      <h1>Main page</h1>
    </div>

    <div class="slideshow">
      <div class="slideshow-slides">
        {% for item in img_user %}
         <a href="{% url 'userdetailview' item.img_user.pk%}" class="slide"><img src='{{item.images.url}}' alt="" width="1600" height="465"></a>
        {% endfor %}
      </div>
      
      <div class="slideshow-nav">
          <a href="#" class="prev">Prev</a>
          <a href="#" class="next">Next</a>
      </div>
      <div class="slideshow-indicator"></div>
    </div>

    <div id="container">
      <div id="contents">
        <section id="new">
          <h2>サイトの説明</h2>
          <p>このサイトは、勉強のために作ったサイトです。嘘です。すいません。</p>
        </section>
        <section id="new">
          <h2>Q&A</h2>
          <p>よくある質問にお答えします。</p>
        </section>
        <section id="new">
          <h2>お問い合わせ</h2>
          <p>メールアドレス: XXXXX@XXX.XXX</p>
        </section>
        <section id="new">
          <h2>利用規約</h2>
          <div id="wrapper">
            <div id="contents">
              何があっても責任はとりません。
            </div>
          </div>
        </section>
        <section id="new">
          <h2>プライバシーポリシー(個人情報保護方針)</h2>
          <div id="wrapper">
            <div id="contents">
              何があっても責任はとりません。
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

<script src="{% static 'modernizr.custom.min.js'%}"></script>
<script src="{% static 'jquery-1.10.2.min.js'%}"></script>
<script src="{% static 'jquery-ui-1.10.3.custom.min.js'%}"></script>

<script>
$(function () {

/*
 * Slideshow
 */

$('.slideshow').each(function(){

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


    var $container = $(this),
        $slideGroup = $container.find('.slideshow-slides'),
        $slides = $slideGroup.find('.slide'),
        $nav = $container.find('.slideshow-nav'),   
        $indicator = $container.find('.slideshow-indicator'),

        slideCount = $slides.length,
        indicatorHTML = '',
        currentIndex = 0,
        duration = 500,
        easing = 'easeInOutExpo',
        interval = 3000,
        timer;

        $slides.each(function(i){
        $(this).css({ left:100 * i + '%'});
        indicatorHTML += '<a href="#">' + (i+1) +'</a>';
      });

      $indicator.html(indicatorHTML);

      function goToslide(index){

        $slideGroup.animate({left: -100 *index + '%'}, duration, easing);
        currentIndex = index;
        updateNav();
      }

      function updateNav (){
        var $navPrev = $nav.find('.prev'),
            $navNext = $nav.find('.next');

        if (currentIndex === 0) {
          $navPrev.addClass('disabled');
        } else{
          $navPrev.removeClass('disabled');
        }

        if (currentIndex === slideCount -1) {
          $navNext.addClass('disabled');
        } else {
          $navNext.removeClass('disabled');
        }
        $indicator.find('a').removeClass('active').eq(currentIndex).addClass('active');
      }

      function startTimer(){
        timer = setInterval(function(){
          var nextIndex = (currentIndex + 1) % slideCount;
          goToslide(nextIndex);
        }, interval);
      }

      function stopTimer(){
        clearInterval(timer);
      }

      $nav.on('click', 'a', function(event){
        event.preventDefault();
        if($(this).hasClass('prev')) {
          goToslide(currentIndex - 1 );
        } else {
          goToslide(currentIndex + 1);
        }
      });

      $indicator.on('click', 'a', function(event){
        event.preventDefault();
        if(!$(this).hassClass('active')) {
          goToslide($(this).index());
        }
      });

      $container.on({
        mouseenter: stopTimer,
        mouseleave: startTimer
      });


      goToslide(currentIndex);
      startTimer();

    });
});

</script>

{% endblock content %}
